<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appvisiondesigner.sbnmx" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SectionActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="5f1a6ca18f0fd1493f3028e07d675ee2b9076b47" />

        <activity
            android:name=".KCOLogin"
            android:label="@string/title_activity_kcologin" >
        </activity>
        <activity
            android:name=".KCORecoverPassword"
            android:label="" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".KCOLogin" />
        </activity>
    </application>

</manifest>
